
.container {
  width: 70%;
  margin: 0 auto;
}

.title {
  font-size:20px;
  text-anchor: middle;
}

#main-title {
  position: relative;
  width: 350px;
  top: 80px;
  z-index: 90;
  font-size: 55px;
  color: black;
  line-height: 60%;
  margin-bottom: 400px;
}

.row {
  height : 500px;
}

.step {
  margin-bottom: 300px;
  font-family: "TiemposTextWeb-Regular","Georgia";
  font-size: 20px;
  line-height: 25px;
  color: black;
}

.title {
  margin-bottom: 2px;
  color: #262626;
  line-height: 1.2em;
  vertical-align: middle;
  padding-top: 5%;
}

#extra-space {
  height: 350px;
}

.selectMenu {
    padding: 5px 8px;
    width: 80%;
    border: 2px solid #ccc;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    border-radius: 2px;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2.5); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
  margin-left: 10px;
}
.checkboxtext
{
  /* Checkbox text */
  font-size: 100%;
  display: inline;
  margin-left: 10px;
}

#divider{
    width:5px;
    height:auto;
    display:inline-block;
    width : 100%;
}

#state-back {
    padding-top: 20px;
    padding: 5px 8px;
    width : 80%;
    background: rgba(0,0,0,0);
    border: 2px solid #ccc;
    box-shadow: none;
    -webkit-appearance: none;
    border-radius: 2px;
    text-align: left;  
} 

#btnOperate {
    padding: 5px 8px;
    width : 40%;
    background: rgba(0,0,0,0);
    border: 2px solid #ccc;
    box-shadow: none;
    -webkit-appearance: none;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 15px;
}

#checkbox1, #checkbox2  {
    background: rgba(0,0,0,0);
    border: 2px solid #ccc;
    opacity: .7;
    box-shadow: none;
}

.vis {
  top: 150px;
  height: 700px;
  z-index: 1;
  margin-left: 40;
}

.tooltip-type {
  position: absolute;
  text-align: left;
  width: 180px;
  height: 120px;
  padding: 8px;
  margin-top: -20px;
  font: 20px sans-serif;
  background: #ddd;
  opacity: .8;
  border-radius: 8px;
  pointer-events: none;
}

#donut-inner-len, #donut-outer-len {
  word-wrap: break-word;
  width : 350px;
}

.axis line,
.axis path {
  fill: none;
  stroke: #7C7C7C;
  stroke-width : 2px;
  shape-rendering: crispEdges;
}

.highlight {
  fill: #008080;
  font-weight: bold;
}

.cough-arrow {
  stroke: #000;
  stroke-width: 4px;

}

#typeDiv {
  height: 800px;
  width: 1000px;
}

